body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: large;
}

.header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
    height: 2rem;
}

.hidden {
    display: none;
}

button {
    height: 2rem;
}

.right {
    float: right;
    margin-right: 20px;
}

.container {
    margin: 30px;
}
table {
    width: 100%;
}
table tr th {
    text-align: left;
    background-color: #D9E2EC;
}