<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Student's Emergency Waitlist</title>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" type="text/css" href="assets/styles.css">
        <script defer type="text/javascript" src="assets/script.js"></script>
    </head>
    <body>
        <div class="header">Hospital Triage
            <button id="logout" type="button" class="right">Log out</button>
        </div>
        <div class="table-container">
            <button id="getpatients" type="button">Get Patients</button>
            <table>
                <thead>
                    <tr>
                        <th>patient_name</th>
                        <th>severity</th>
                        <th>staff_name</th>
                        <th>date_triage</th>
                    </tr>
                </thead>
                <tbody id="patients"></tbody>
            </table>
        </div>
    </body>
</html>