<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Student's Emergency Waitlist - Login</title>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" type="text/css" href="assets/styles.css">
        <script defer type="text/javascript" src="assets/script.js"></script>
    </head>
    <body>
        <div class="header">Hospital Triage</div>
        <form action="/" method="post">
            <div class="container">
                <label for="uname"><b>Full Name</b></label>
                <input type="text" placeholder="Enter Name" name="uname" required>
                <br>
                <label for="code"><b>3-letter Code</b></label>
                <input type="text" placeholder="Enter 3-letter code" name="code" required>
                <br>
                <button type="submit">Login</button>
            </div>
        </form>
    </body>
</html>