<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Student's Emergency Waitlist</title>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" type="text/css" href="assets/styles.css">
        <script defer type="text/javascript" src="assets/patient.js"></script>
    </head>
    <body>
        <div class="header">Hospital Triage
            <form action="/" method="post" class="right">
                <button type="submit" name="logout">Log out</button>
            </form>
        </div>
        <div class="container">
            <img src="assets/user-picture-default.png" alt="Default user profile picture">
            <h2>Patient Profile</h2>
            <p>Your name: <span id="name"></span></p>
            <div id="info" class="hidden">
                <p>Severity: <span id="severity"></span></p>
                <p>Date of triage: <time id="datetriage"></time></p>
            </div>
            <p id="notriage" class="hidden">You have not been triaged yet. Be patient.</p>
        </div>
    </body>
</html>